*.env

comandos:
restart supervisor:
sudo supervisor -c /etc/supervisor/supervisord.conf
sudo supervisorctl -c /etc/supervisor/supervisord.conf reload
sudo supervisorctl -c /etc/supervisor/supervisord.conf upgrade
