{% extends "core/base.html" %}

{% load broker_tag %}
{% block content %}
<div class="container-fluid">
    <div class="pure-u-1">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              {% block breadcrumb %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'accounts:dashboard' %}">Meu Painel </a>
                </li>
              {% endblock %}
          </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">
                        Bem-vindo, {{ user }}
                    </li>
                    {% block menu_options %}
                    {%load_my_proxy user as proxys%}
                    <li class="pure-menu-heading">Proxys</li>
                    {% for proxy in proxys %}
                    <li>
                        <a href="{% url 'block:tab_edit' proxy.id %}">
                        <i class="fa fa-dashboard"></i>
                            {{proxy.name}}
                        </a>
                    </li>
                    {% empty %}
                    <li>Nenhum Broker Cadastrado</li>
                    {% endfor %}
                    <li class="pure-menu-heading">Configurações de Conta</li>
                    <li>
                        <a href="{% url 'accounts:edit' %}">
                        <i class="fa fa-cog"></i>
                        Editar Informações
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:edit_password' %}">
                        <i class="fa fa-lock"></i>
                        Editar Senha
                        </a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="inner">
                {% block dashboard_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}