{% extends "core/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Vídeo-aulas e materiais digitais</h4>
            <h3>Publique suas aulas</h3>
            <p>
                O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
            </p>
            <a href="{% url 'block:add_proxy' %}">ADD PROXY</a>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Vídeo aulas e materiais digitais.">
        </div>
    </div>
</div>

{% else %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Explicação</h4>
            <h3>Proxy Manager</h3>
            <p>
                Plataforma de IoT
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}