{% extends "core/base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row">
       <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
             <div class="card-body">
                <div class="l-box">
                   <h4 class="card-title">Adicionar Proxy</h4>
                   <p class="card-text">
                      Adiciona o proxy a ser gerenciado pela aplicação
                   </p>
                   <a class="btn btn-dark" href="{% url 'block:add_proxy' %}">ADD PROXY</a>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
             <div class="card-body">
                <div class="l-box">
                   <h4 class="card-title">Adicionar Broker</h4>
                   <p class="card-text">
                      Adiciona o Broker vínculado a um proxy
                   </p>
                   <a class="btn btn-dark" href="{% url 'block:add_broker' %}">ADD BROKER</a>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
             <div class="card-body">
                <div class="l-box">
                   <h4 class="card-title">Adicionar Mqtt</h4>
                   <p class="card-text">
                      Adiciona o Mqtt vinculado a um Broker
                   </p>
                   <a class="btn btn-dark" href="{% url 'block:add_mqtt' %}">ADD MQTT</a>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
             <div class="card-body">
                <div class="l-box">
                   <h4 class="card-title">Adicionar Dispositivo</h4>
                   <p class="card-text">
                      Adicionar um Dispositivo vinculado a um MQTT
                   </p>
                   <a class="btn btn-dark" href="{% url 'tarefa:add_dispositivo' %}">ADD DISPOSITIVO</a>
                </div>
             </div>
          </div>
       </div>
    </div>
{% else %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
           <div class="l-box">
              <h4 class="content-subhead">Explicação</h4>
              <h3>Proxy Manager</h3>
              <p>
                 Plataforma de IoT
              </p>
           </div>
        </div>
    </div>
{% endif %}
{% endblock %}