
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ proxy.name }}</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ edit_proxy }}">
          <a class="nav-link" href="{% url 'block:edit_proxy' %}">Proxy</a>
        </li>
        <li class="nav-item {{ edit_broker }}">
          <a class="nav-link" href="{% url 'block:edit_broker' %}">Mqtt</a>
        </li>
        <li class="nav-item {{ edit_mqtt }}">
          <a class="nav-link" href="{% url 'block:edit_mqtt' %}">Broker</a>
        </li>
      </ul>
    </div>
</nav>