{% extends "accounts/dashboard.html" %}

{% block dashboard_content %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="proxy-tab" href="#proxy" form-url="{% url 'block:edit_proxy' proxy.id %}">Proxy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="broker-tab" href="#broker" form-url="{% url 'block:edit_broker' proxy.broker.id %}">Broker</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mqtt-tab"  href="#mqtt">Mqtt</a>
    </li>
  </ul>

  <div class="tab-content" id="tabContent">
    <div class="container tab-pane active" id="proxy-div">
    </div>

    <div id="broker-div" class="container tab-pane fade">
    </div>

    <div id="mqtt-div" class="container tab-pane fade">
    </div>
  </div>

<script>
$(document).ready(function(){
    $.ajax({
        url: '{% url 'block:edit_proxy' proxy.id %}',
        data: {},
        success: function (data) {
            var div = document.getElementById("proxy-div");
            div.innerHTML = data;
        }
    });
    $(".nav-tabs a").click(function(){
        var url = $(this).attr("form-url");  // get the url of the `load_cities` view
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                    // add the country id to the GET parameters
            },
            success: function (data) {// `data` is the return of the `load_cities` view functio
              //$("#id_broker").html(data);  // replace the contents of the city input with the data that came from the serve$
                if($(this).id = "proxy-tab") {
                    var div = document.getElementById("proxy-div");
                    div.innerHTML = data;
                }
                if($(this).id = "broker-tab") {
                    var div = document.getElementById("broker-div");
                    div.innerHTML = data;
                }
                if($(this).id = "mqtt-tab") {
                    var div = document.getElementById("mqtt-div");
                    div.innerHTML = data;
                }
            }
        });
        $(this).tab('show');
    });
});
</script>
{% endblock %}