{% extends "core/base.html" %}
{%  block core_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
{% if proxys %}
    {%  for proxy in proxys %}
    <div class="container" id="{{ proxy.id }}" style="border-style: groove;">
            <h3 class="text-center">Proxy: {{ proxy.name }}</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="pure-menu pure-menu-open">
                            <ul class="list-group">
                               <li class="list-group-item active">
                                   Tópicos MQTT
                               </li>
                                {% if mqtts %}
                                    {% for mqtt in mqtts %}
                                        {% if mqtt.proxy == proxy %}
                                            <li class="list-group-item">
                                                {{ mqtt.topico }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li>Não há tópicos cadastrados!</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="pure-menu pure-menu-open">
                            <ul class="list-group" id="dispo">
                               <li class="list-group-item active">
                                   Dispositivos
                               </li>
                                {% if dispos %}
                                    {% for dispo in dispos %}
                                        {% if dispo.proxy == proxy %}
                                            <li class="list-group-item">
                                                {% if dispo.tipo == 1 %}
                                                    <a onclick="alterDATA('{% url 'tarefa:load_dado' dispo.id %}',
                                                            '{{ proxy.id }}',
                                                            '{% url 'tarefa:load_dado_graph' dispo.id %}')"
                                                    class="teste">
                                                        {{ dispo.nome}} - {{ dispo.get_tipo_display }}</a>
                                                {% else %}
                                                    {{ dispo.nome}} - {{ dispo.get_tipo_display }}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li>Não há dispositivos cadastrados!</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="pure-menu pure-menu-open">
                             <canvas id="graph-{{ proxy.id }}" width="300" height="300"></canvas>
                         </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="pure-menu pure-menu-open" id="tabela-{{ proxy.id }}">
                    </div>
                </div>
         </div>
        {% endfor %}
    {% else %}
        <h3>Não existe Proxys Cadastrados</h3>
    {% endif %}
{% else %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
           <div class="l-box">
              <h4 class="content-subhead">Explicação</h4>
              <h3>Proxy Manager</h3>
              <p>
                 Plataforma de IoT
              </p>
           </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
     <script src="{% static 'tarefa/tarefa_dados.js' %}"></script>
{% endblock %}
