<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
    <category name="Condições">
    <block type="if_sensor_dadosensornumero">
      <field name="condicao">0</field>
    </block>
    <block type="if_sensor_string">
      <field name="condicao">0</field>
    </block>
    <block type="if_sensor_dadosensorstring">
      <field name="condicao">0</field>
    </block>
    <block type="if_sensor_boolena">
      <field name="condicao">0</field>
    </block>
    <block type="if_sensor_number">
      <field name="condicao">0</field>
    </block>
        <block type="if_else_sensor_dadosensornumero">
      <field name="condicao">0</field>
    </block>
    <block type="if_else_sensor_string">
      <field name="condicao">0</field>
    </block>
    <block type="if_else_sensor_dadosensorstring">
      <field name="condicao">0</field>
    </block>
    <block type="if_else_sensor_boolena">
      <field name="condicao">0</field>
    </block>
    <block type="if_else_sensor_number">
      <field name="condicao">0</field>
    </block>
  </category>
  <category name="Sensor">
    <block type="save_db"></block>
    <block type="dado_sensor_numero"></block>
    <block type="dado_sensor_string"></block>
    <block type="dados_sensor_media"></block>
    <block type="dado_sensor_min"></block>
  </category>
  <category name="Atuador">
    <block type="atuador_troca_estado">
      <field name="dispositivo">1</field>
    </block>
    <block type="atuador_boolean"></block>
  </category>
  <category name="Var">
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
  </category>
</xml>