{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="row">
        <div class="col-sm-10" style="border-style: groove;">
            <h3>Dispositivo: {{ dispo.nome }}</h3>
            {% render_table dado %}
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="{% url 'tarefa:export_dado_excel' dispo.pk %}">TESTE</a>
        </div>
    </div>

<script>
    $(document).ready(function(){
        alterdata();
    });
function alterdata(){
    var ul = document.getElementsByClassName("pagination");
    if(ul != null) {
        for (var i = 0; ul.length > i; i++) {
            var li = ul[i];
            li = li.getElementsByTagName('li');
            if (li != null) {
                for (var j = 0; li.length > j; j++) {
                    var valor = li[j];
                    var a = valor.getElementsByTagName('a')[0];
                    a.setAttribute("class", 'btn btn-dark');
                }
            }
        }
    }
}
</script>
{% endblock %}