{% extends "core/base.html" %}
{% load staticfiles %}
{% block core_head %}
    <script src="{% static 'tarefa/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/javascript_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/msg/js/en.js' %}"></script>
    <script src="{% static 'tarefa/blocos.js' %}"></script>
     {% block blocos %}
    {% endblock %}
    <script>
        Blockly.Blocks['sen_se'] = {
          init: function() {
            this.jsonInit({
          "type": "sen_se",
          "message0": "se %1 %2 = %3 %4",
          "args0": [
            {
              "type": "field_dropdown",
              "name": "sensores",
              "options": [
                  {% if sensores %}
                      {% for sensor in sensores %}
                    [
                      "{{ sensor.nome }}",
                      "{{ sensor.pk }}"
                    ],
                      {% endfor %}
                  {% else %}
                    [
                      "Sem_sensor",
                      "Sem_sensor"
                    ],
                  {% endif %}
            ]
            },
            {
              "type": "field_dropdown",
              "name": "condicao",
              "options": [
                [
                  ">",
                  ">"
                ],
                [
                  "<",
                  "<"
                ],
                [
                  "=",
                  "="
                ]
              ]
            },
            {
              "type": "input_value",
              "name": "Se"
            },
            {
              "type": "input_statement",
              "name": "Se_sta",
              "align": "RIGHT"
            }
          ],
          "colour": 230,
          "tooltip": "",
          "helpUrl": ""
            });
          }
        };


Blockly.Blocks['dispo_out'] = {
  init: function() {
    this.jsonInit({
		"type": "dispo_out",
  "message0": "Dispositivo %1 = %2",
  "args0": [
    {
      "type": "field_dropdown",
      "name": "dispo",
      "options": [
          {% if atuadores %}
          {% for atua in atuadores %}
        [
          "{{ atua.nome }}",
          "{{ atua.pk }}"
        ],
          {% endfor %}
          {% else %}
       [
          "Sem_atuador",
          "sem_atuador"
        ],
          {% endif %}
      ]
    },
    {
      "type": "field_number",
      "name": "var",
      "value": 0
    }
  ],
  "previousStatement": null,
  "nextStatement": null,
  "colour": 230,
  "tooltip": "",
  "helpUrl": ""
	});
	}
};
</script>
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
  </style>

{% endblock %}

{% block content %}
    <center>
  <div id="blocklyDiv" style="height: 580px; width: 1000px;"></div>
        {% block toolbox %}
        {% endblock %}
    <xml id="toolbox" style="display: none">
  <category name="Sensores">
        <block type="sen_se"></block>
      <block type="dispo_out"></block>
  </category>
</xml>
  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {media: "{% static 'tarefa/blockly/media/' %}",
         toolbox: document.getElementById('toolbox')});
    Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'),
                               demoWorkspace);

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      alert(code);
    }

    function runCode() {
      // Generate JavaScript code and run it.
      window.LoopTrap = 1000;
      Blockly.JavaScript.INFINITE_LOOP_TRAP =
          'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      try {
        eval(code);
      } catch (e) {
        alert(e);
      }
    }
  </script>
</center>
{% endblock %}
