{% extends "core/base.html" %}
{% load staticfiles %}
{% block core_head %}
    <script src="{% static 'tarefa/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/python_compressed.js' %}"></script>
    <script src="{% static 'tarefa/blockly/msg/js/en.js' %}"></script>
    <script src="{% static 'tarefa/blocos.js' %}"></script>
    {% block blocos %}
        {% include "tarefa/blocos/blocos.html" %}
    {% endblock blocos %}
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
  </style>

{% endblock core_head %}

{% block content %}
    <button type="button" onclick="showCode()">TESTE</button>
  <div id="blocklyDiv" style="height: 580px; width: 1000px;"></div>
        {% block toolbox %}
            {% include "tarefa/blocos/toolbox.html" %}
        {% endblock toolbox %}
  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {media: "{% static 'tarefa/blockly/media/' %}",
         toolbox: document.getElementById('toolbox')});
    Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'),
                               demoWorkspace);

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.Python.INFINITE_LOOP_TRAP = null;
      var code = Blockly.Python.workspaceToCode(demoWorkspace);
      alert(code);
    }

    function runCode() {
      // Generate JavaScript code and run it.
      window.LoopTrap = 1000;
      Blockly.JavaScript.INFINITE_LOOP_TRAP =
          'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      try {
        eval(code);
      } catch (e) {
        alert(e);
      }
    }
  </script>
{% endblock content %}
