<form class="pure-form pure-form-stacked" method="post"
    {% if broker %}
    action="{% url 'block:edit_broker' broker.id %}"
    {% else %}
    action="{% url 'block:edit_proxy' proxy.id %}"
    {% endif %}>
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
            {% for field in form %}
                <div class="pure-control-group">
                    {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                 </div>
             {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Salvar</button>
            <a {% if broker %}
    href="{% url 'block:delete_broker' broker.id %}"
    {% else %}
    href="{% url 'block:delete_proxy' proxy.id %}"
    {% endif %} class="pure-button pure-button-primary">Apagar</a>
        </div>
    </fieldset>
</form>
